<h1>Command Line</h1>

<ol>
	<li><a href="/command?command=mv">mv</a></li>
	<li><a href="/command?command=cp">cp</a></li>
	<li><a href="/command?command=mkdir">mkdir</a></li>
	<li><a href="/command?command=ls">ls</a></li>
	<li><a href="/command?command=rm">rm</a></li>
</ol>
<hr>
<a href="/">Menu </a>